body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #b2c2f1;
  font-family: "Oswald",serif;
}
html{
  scroll-behavior: smooth;
}
.section{
  scroll-margin-top: 6.5rem;
}
.header-class{
  display: flex;
  background:#4776e6;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  z-index: 999;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 2px 12px  rgb(0,0,0,.9);
}
.name{
  color: white;
  font-size: 34px;
  margin: 0 0 0 2rem;
  letter-spacing: 2px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
}
.under-line{
  border: 2px solid rgb(67, 178, 241);
  border-radius: 5px;
  width: 40px;
  margin-left: 30px;
}
.dot{
  font-size: 34px;
  font-weight: bold;
  color: rgb(67, 178, 241);
}
.links{
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}
.links ul{
  display: flex;
  list-style: none;
  gap: 5rem;
  text-wrap: inherit;
 
}
.links a{
  color: rgb(255, 255, 255);
  font-size: 22px;
  text-decoration: none;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  text-transform: capitalize;
  border-bottom: 3px solid transparent;
  transition: border-bottom-color 0.3s ease;
}
.links a:hover{
  text-shadow: 0 0 5px #8e46fa;
  cursor: pointer;
  color: #5804e0;
  border-radius: 3px;
  border-bottom-color:#5804e0;
}
.bar-btn{
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  font-size: 35px;
  font-weight: 600;
  margin-left: 2rem;
  transition: transform .3s ease;
}
.bar-btn:hover{
  cursor: pointer;
  padding-top: 8px;
  transform: rotate(90deg);
}
.container{
  position: relative;
  height: 100vh;
  background-image:linear-gradient(to right,#8e54e9,#4776e6 );
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 0 solid transparent;
  border-left: 0 solid transparent;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: border-bottom-color 1s ease-in-out, opacity 1s ease-in-out;
}
@media screen and (min-width:800px)  {
 .container::before{
  border-bottom: 35rem solid #b2c2f1;
  border-left: 120rem solid transparent;
  opacity: 1;
} 
.bar-btn{
  display: none;
}
.icon{
  background-color: WHITE;
  border: 2px solid #c4dcff;
}
.icon small{
  color: #3f069c;
  font-weight: 500;
}
.img-shadow{
  width: 300px !important;
  border-radius: 50%;
  height: 13px !important;
  position: relative;
  background-color: black;
  filter: blur(13px);
  margin-left: 3rem;
  margin-top: 1rem;
}
.introduction{
  margin-left: 10rem;
  z-index: 3;
}
.introduction p{
  color: black !important;
  font-weight: 600;
}
.about-container{
  padding: 12rem .5rem;
  display: flex;
  justify-content: center;
  gap: 8rem;
}
.rectangle{
 max-height: 450px;
}
.rectangle img{
  width: 400px;
  height: 450px;
}
.about-container p{
  max-width: 500px;
  text-align: justify;
  letter-spacing: .4px;
  font-family: "oswald";
  text-transform: capitalize;
  font-weight: 600;
}
.abt-page h1{
  letter-spacing: 1px;
  text-transform: capitalize;
  font-family: "oswald";
  font-weight: 500;
  color: rgba(0, 0, 0, 0.925);
}
.about-container h2{
  font-family: "oswald";
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #0746da;
}
.abt-page span{
  color: #3f02a1;
}
.abt-page h1,.under-line{
  margin: 0;
}
.let-talk{
  background-color: #4d05c2;
  color: white;
  text-transform: capitalize;
  font-family: 'oswald';
  padding: .2rem 2rem;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  border-radius: 4px;
}
img{
  border-radius: 3px;
  transform: translate(2rem,2rem);
   box-shadow: 0 1px 12px #6107f1;
}
.rectangle {
  border: 5px solid #034ebe;
  border-radius: 8px;
  box-shadow: 0 0 5px;
}
}
@media screen and (max-width: 800px) {
  .links a{
    display: none;
  }
  .skills{
        max-width: 600px;
  }
.card{
  background-color: #2d5bc7;
  max-width: 550px;
  margin: auto;
  border-radius: 10px;
  padding: 2rem 4px;
  box-shadow:  0 0 25px;
}
  .about-container{
  max-width: 600px;
  margin: 10rem auto;
  border-radius: 25px;
  height: 70vh;
  display: grid !important;
  background-image: linear-gradient(to top,#8e54e9,#4776e6);
}
.abt-page{
  display: flex;
  flex-direction: column;
  margin:0 2rem;
  gap: 10px;
}
.abt-page p{
  color: rgba(255, 255, 255, 0.904);
  max-width: 500px;
  text-align: justify;
  font-family: "oswald";
  letter-spacing: 0.5px;
  font-weight: 490;
}
.abt-page h1{
color: white;
text-transform: capitalize;
font-family: "Oswald",serif;
font-weight: 400;
letter-spacing: 1px;
}
.abt-page .under-line,.abt-page h1{
margin: 0;
}
.abt-page h2{
  font-family: "Oswald",serif;
  letter-spacing: 1px;
  color: #043cbe;
  text-transform: capitalize;
}
.abt-page span{
  color: #4602ac;
}
.abt-page p,.abt-page h2{
  margin: 0;
}
.rectangle img{
  width: 200px !important;
  height: 200px !important;
  border: 8px solid white;
  margin-top: -15%;
  margin-left: 29%;
}
.rectangle img{
  border-radius: 5px;
}
.let-talk{
  background: #0950f3 ;
  border: none;
  outline: none;
  margin: .5rem 0;
  padding: .5rem 1.5rem;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  color: white;
   max-width: 150px;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-family: "Oswald",sans-serif;
}
.let-talk:hover{
  box-shadow: 0 0 5px #5907d4;
  cursor: pointer;
  background-color: #0131a1;
  transition: background-color .3s ease-in-out;
}
  .victory-icon{
    display: none !important;
  }
     .buttons .hire:hover,
     .buttons .cv:hover{
    background-color: transparent;
   }
   .buttons .hire:hover{
     border: 1px solid #0131a1;
   }
   .buttons .cv:hover{
    border: 1px solid #3f069c;
   }
  .container img{
    width: 250px !important;
    height: 250px !important;
  }
  .introduction{
  margin-left: 1rem !important;
}
}
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
.container img{
  border-radius: 50%;
  width: 400px;
  height: 400px;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  z-index: 3;
  animation: moveUpDown 2s linear infinite;
}
.circle img{
  border: 2px solid #4602ac;
  position: relative;
  box-shadow: 0 0 20px #4602ac;
}
.img-shadow{
  width: 150px;
  border-radius: 50%;
  height: 17px;
  position: relative;
  background-color: black;
  filter: blur(13px);
  margin-left: 3rem;
  margin-top: 1rem;
}
.victory-icon{
  background-color: #2b68f7;
  z-index: 4;
  font-size: 45px;
  color: #3f069c;
  border: 2px solid transparent;
  box-shadow: 0 0 20px 1px #3f069c;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  position: relative;
  top: 7rem;
  left: 1rem;
  
}

.introduction h1{
  color: white;
  font-weight: 600;
  font-size: 39px;
}
.introduction h3{
 color: #003bc5;
 font-size: 24px;
}
.introduction h1,
.introduction h3,.introduction p
{
  letter-spacing: 1px;
  font-family: "Oswald",serif;
  margin: 0;
  text-transform: capitalize;
}
.introduction p{
 color: white;
 font-family: "Oswald",serif;
 max-width: 600px;
}
  .buttons{
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
  }
  .buttons .hire,.buttons .cv{
    text-transform: capitalize;
    font-size: 16px;
    font-family: 'poppins',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: .5rem 1rem;
    border-radius: 3px;
    font-weight: bold;
    color: white;
  }
   .buttons .hire{
    background-color: #0950f3;
    border: none;
   }
   .buttons .cv{
    border: none;
    outline: none;
    background: #5907d4;
   }
      .buttons .hire:hover,
     .buttons .cv:hover{
    background-color: transparent;
   }
   .buttons .hire:hover{
  box-shadow: 0 0 5px #5907d4;
  cursor: pointer;
  background-color: #0131a1;
  transition: background-color .3s ease-in-out;
   }
   .buttons .cv:hover{
    background:  #3f02a1;
   }
   .hire:active,.cv:active,.let-talk:active{
    transform: translateY(2px);
   }
   .buttons .cv:hover,.buttons .hire:hover{
    cursor: pointer;
    transition: background-color .3s ease-in-out;
   }
   .socio-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.add-icon, .sub-icons {
  position: fixed;
}

.add-icon {
  z-index: 5;
  right: 20px;
  bottom: 20px;
  font-size: 65px;
  background-color: #00317a;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.add-icon:hover{
  cursor: pointer;

}
.sub-icons {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  z-index: 4;
  right: 23px;
  bottom: 40px;
  position: fixed;
  background-color: white;
  padding: 20px 8px 50px 8px ;
  border-radius: 84px;
}
.sub-icons ul {
  display: grid;
  margin: 0;
  padding: 0;
  gap: 15px;
}

.sub-icons li {
  list-style: none;
}

.sub-icons a {
  display: flex;
  align-items: center;
  color: black;
  font-size: 39px;
  text-decoration: none;
}

.sub-icons a:hover {
  color: #3f069c !important;
  cursor: pointer;
}
.nav-links{
  border-top-left-radius: 5px;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  right: 0;
  background-color: white;
  height: 100vh;
  width: 300px;
  z-index: 1;
}
.nav-links ul{
  top: 5rem;
  left: 8px;
  position: relative;
  text-align: justify;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  color: #0131a1;
  font-family: "oswald";
  font-weight: 600;
  font-size: 24px;
  text-transform: capitalize;
  text-decoration: none;
}
.nav-links a:hover{
 border-bottom: 2px solid;
 border-radius: 3px;
 transition: .1s ease-in-out;
 color: #4602ac;
}
.close-btn{
  margin-top: .7rem;
  margin-left: 1rem;
  font-size: 24px;
  position: fixed;
}
.close-btn:hover{
  color: #3f069c;
  cursor: pointer;
}
.close-btn-hide{
  display: none;
}
.interaction{
  font-size: 28px;
  font-family: "oswald";
  border-bottom: 2px solid #3f069c;
  position: absolute;
  width: 100%;
  color: #530ac9;
  display: block;
}
.titel {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
 h1{
  font-weight: 400;
  letter-spacing: 1px;
}
.titel h1, .under-line {
  margin: 0;
}
.titel p {
  text-align: center;
  max-width: 400px;
  color: white;
  letter-spacing: 1px;
  font-weight: 320;
  padding: 1rem;
}
.skills{
  background-image: linear-gradient(to top,#8e54e9,#4776e6);
  padding: 4rem 0;

  margin: auto;
  border-radius: 10px;

}
.skills .content {
  display: flex;
  justify-content: space-around;
}
.icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 80px;
  align-items: center;
}
.icon {
  padding: 30px;
  box-shadow: 0 0 5px rgba(0,0,0);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  border-radius: 8px;
}
.html {
  color: #ad001d;
}
small{
  font-size: 20px;
  color: white;
  letter-spacing: 1px;
  font-weight: 300;
}
.icon,small{
  display: flex;
  flex-direction: column;
}
.icon:hover{
  cursor: pointer;
  transform: scale(1.02);
  transition: transform,background-color .3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.01);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px;
}